


.primeira_secao {
    width: 432px;
    height: 233px;
    background-color: black;

 .segunda-secao {
    width: 440;
    height: 255;
    background-color: black;

 .terceira-secao {
    width: 229;
    height: 283;
    background-color: black;
}